body{
  font-family: sans-serif;
  border: 5px solid darkslategray;
  padding: 3%;
  margin: 20px;
  color: black;
}
.sidebar {
  border: 3px solid darkslategray;
  color: black;
  align-items: center;
}

li {
font-weight: bold;
}

p {
  font-size: 25px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: brown;
}
